<table width="100%" cellpadding="0" cellspacing="0" style="font-family:Arial;line-height:24px;font-size:16px;color:#a1a1a1">
    <tbody><tr>
            <td style="padding:50px 10px">
                <table width="600" align="center" cellpadding="0" cellspacing="0" style="background:#fff">
                    <tbody><tr>
                            <td style="padding:30px;text-align:center">
                                <a href="#" title="Slap" target="_blank"><img style="display:block;margin:auto" src="C:/xampp/htdocs/projects/slap/admin/assets/images/slap_logo.png" width="200" alt="Slap"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <table width="100%" cellpadding="0" cellspacing="0" style="padding:30px;text-align:center;background:#fff">                                    

                                    <tbody>         
                                        <tr>                                        

                                            <td style="padding:20px;font-size:24px;color:#000"> Welcome To Slap
                                            </td>        
                                        </tr>                                    

                                        <tr>                                        

                                            <td style="padding:20px">
                                                <div style="text-align:center;"> 
                                                    <label style="line-height: 35px;font-weight: normal;">Email: [!email!]</label><br/>
                                                    <label style="line-height: 35px;font-weight: normal;">Password: [!password!]</label>
                                                </div>
                                                  

                                            </td>        
                                        </tr>                                

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:0 30px;text-align:center;background:#fff">
                                <div style="border-top:1px solid #ddd;padding:0px 20px 40px"></div>
                                
                            </td>
                        </tr>
                    </tbody></table>
                <table width="600" align="center" cellpadding="0" cellspacing="0" style="text-align:center;padding:0 30px">
                    <tbody>
                        <tr>
                            <td style="font-size:13px;line-height:16px;color:#000">
                                © 2019, Slap! . All Rights Reserved.
                            </td>
                        </tr>
                    </tbody></table>
            </td>
        </tr>
    </tbody></table>